.path-frontpage .slick--view--news-carousel {
  position: relative; /* So we can absolutely position arrows, dots and text */
}

.path-frontpage .slick-slide {
  object-fit: cover;
}

.path-frontpage .slick-slide img {
  width: 95vw;
  height: 80vh;
}

/*
  Make the read more link on carousels look like a button 
  These are the links inside a paragraph tag
  Strangely, there's also a link just before the title
*/
.path-frontpage .slick-arrow,
.path-frontpage .slick__slide p a {
  padding: 0.25em 0.5em;
  background-color: var(--link-colour);
  font-size: 0.85rem;
  color: var(--text-colour);
  border: none;
  border-radius: var(--border-radius);
  text-decoration: none;
  cursor: pointer;
}

.path-frontpage .slick-arrow:focus,
.path-frontpage .slick-arrow:hover,
.path-frontpage .slick__slide p a:focus,
.path-frontpage .slick__slide p a:hover {
  background-color: var(--link-colour-focus);
}

/* The dots that tell us which side we're on (and allow clicking on that slide) */
.path-frontpage .slick-dots {
  list-style-type: none;
  padding-left: 0;
}

/* Make the buttons look like dots */
.path-frontpage .slick-dots li button {
  width: 0.5em;
  height: 0.5em;
  background-color: transparent;
  color: transparent;
  border: 1px solid var(--text-colour);
  border-radius: 50%;
}

.path-frontpage .slick-dots .slick-active button {
  background-color: var(--text-colour);
}

/* Move the arrows to be on the left and right halfway down the carousel */
.path-frontpage .slick-arrow {
  position: absolute;
  top: 50%;
}

.path-frontpage .slick-next {
  right: 0;
}
