:root {
  --text-colour: #fff;
  --link-colour: #17a2b8;
  --link-colour-focus: #138496;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #343a40;
  color: var(--text-colour);
}

a {
  color: var(--link-colour);
}

a:hover,
a:focus {
  color: var(--link-colour-focus);
}
