.view-content {
  --image-size: 250px; /* set in Drupal */
  display: grid;
  /* Images are sized to 250px in Drupal */
  grid-template-columns: 1fr;
  gap: 2em;
}

/* Make all titles bigger */
.views-field-title {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
  text-align: center;
}

/* Make all the images take up 250px in height so the text always starts at the same place */
.views-field-field-image {
  display: grid;
  place-content: center;
  height: var(--image-size);
}

/* Read more link */
.views-field-view-node a,
.views-field-view-node a:visited,
.views-field-view-node a:hover,
.views-field-view-node a:focus {
  color: var(--text-colour);
  font-size: 0.85rem;
  text-decoration: none;
}

.views-field-view-node .field-content {
  margin-top: 0.5em;
  padding: 0.25em 0.5em;
  background-color: var(--link-colour);
  border-radius: 0.25rem;
  cursor: pointer;
}

.views-field-view-node .field-content:hover,
.views-field-view-node .field-content:focus {
  background-color: var(--link-colour-focus);
}

/* The grid at difference sizes - all in px because the images are sized in px */
@media all and (min-width: 550px) {
  .view-content {
    grid-template-columns: repeat(2, minmax(var(--image-size), max-content));
  }
}

@media all and (min-width: 800px) {
  .view-content {
    grid-template-columns: repeat(3, minmax(var(--image-size), max-content));
  }
}

@media all and (min-width: 1600px) {
  .view-content {
    grid-template-columns: repeat(6, minmax(var(--image-size), max-content));
  }
}
