.view-content {
  --image-size: 250px; /* set in Drupal */
  display: grid;
  /* Images are sized to 250px in Drupal */
  grid-template-columns: repeat(3, minmax(var(--image-size), max-content));
  gap: 2em;
}

/* Make all titles bigger */
.views-field-title {
  font-size: 1.5rem;
  text-align: center;
}

/* Make all the images take up 250px in height so the text always starts at the same place */
.views-field-field-image {
  display: grid;
  place-content: center;
  height: var(--image-size);
}
